@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <a href="@Url.Action("Register", "Home")">Register a new student</a>
</body>
</html>
